<% if user_signed_in? %>
  Zalogowany jako <b><%= current_user.email %></b>
  <a href="<%= destroy_user_session_path  %>"id="logut" rel="nofollow" data-method="delete" class="btn btn-warning btn-xs"> <span class="glyphicon glyphicon-off"></span> wyloguj</a>
<% end %>