<div class="page-header">
  <h1>Okręg nr <%= @constituency.number %>, <%= @constituency.province.name %> - wyniki</h1>
</div>

<%= render 'committiees', {:@valid_votes => @constituency.valid_votes} %>
