<div class="page-header">
  <h1>Województwo <%= @province.name %> - wyniki</h1>
</div>

<%= render 'constituencies', {:@constituencies => @province.constituencies} %>

<%= render 'committiees', {:@committees => @province.committees} %>

