<div class="page-header">
  <h1>Panel administracyjny</h1>
</div>

<% if current_user.present? && current_user.role == 'admin' %>
<div class="bs-component col-lg-3 text-center">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="committees">Komitety Wyborcze</a>
    </li>
    <li class="list-group-item">
      <a href="provinces">Województwa</a>
    </li>
    <li class="list-group-item">
      <a href="constituencies">Okręgi</a>
    </li>
  </ul>
</div>
<% end %>