<% @provinces = @committee.provinces %>
<div class="page-header">
<h1><%= @committee.name %></h1>
</div>

<%#*<p>%>
  <%#*<strong>Logo:</strong>%>
  <%#= @committee.logo %>
<%#*</p>%>

<h2>Województwa</h2>

<%= render :file => '/provinces/_index' %>

  <div class="col-sm-4 control-label">
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> powrót'.html_safe, committees_path, class: "btn btn-sm btn-primary" %>
  </div>
