body, html {
    height: 100%
}

footer {
    margin: 1% 0;
}

.content-main {
    min-height: 80%;    
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
}

#logut {
    margin-left: 10px;
}

.table td {
    text-transform: capitalize;
}

#form-errors {
    margin: 2% 0;
}